* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    width: 100%;
    height: 100%;
}
#H1 {
    font-family: 'Staatliches', cursive;
    font-size: 6em;
    text-align: center;
    color: #F1C164;
    text-shadow: 5px 5px #2D63A7;
    margin: 0;
    text-decoration: underline;
  }
  